# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (opcional)
.vscode/

# Pytest cache
.pytest_cache/

# MacOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log
